
<nav class="navbar navbar-default" *ngIf="!isUserLoggedIn">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
		  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		  <span class="sr-only">Toggle navigation</span> -->
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a [routerLink]="['/home']"><img src="./assets/akart.png" width="60px"></a>

  
	  </div>
  
  
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav nav navbar-left">
  
		  <li *ngIf="isAdminLoggedIn" class="active"><a [routerLink]="['/product']">Product <span
				class="sr-only">(current)</span></a></li>
		  <li><a [routerLink]="['/category']">Category</a></li>
  
		</ul>
  
		<ul class="nav navbar-nav navbar-right" id="right">
		  <!-- <li><a [routerLink]="['/order']">Orders</a></li> -->
		  <li><a [routerLink]="['/cart']"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
		  </li>
		  <li><a [routerLink]="['/login']">Login</a></li>
  
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
			  aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span
				class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a [routerLink]="['/profile']">Profile</a></li>
  
			  <li role="separator" class="divider"></li>
			  <li><a (click)="  onLogOut()">LogOut<span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
			  </li>
			</ul>
		  </li>
		</ul>
	  </div>
  
	</div>
  
  </nav>
   
 
 
 
 <div class="row">
	<div class="span9">

		<hr>
		<div class="row-fluid">
			<div class="span5">
				<div class="col-md-4">
					<img [src]="product.pImage">
				</div>
			</div>

		</div>
		<div class="span7">
			<div class="col-md-8">
				<h3>{{product.pName}}</h3>
				<hr class="soft" /><br>

				<form class="form-horizontal qtyFrm">
					<div class="control-group">
						<h3>Price</h3>
						<label class="control-label"><span>{{product.pPrice}}</span></label><br>
						<div class="controls">
							<h3>Quantity</h3>
							<label class="control-label"><span>{{product.quantity}}</span></label>
						</div>
					</div>



					<br>
					<p>
						<button class="btn btn-primary" type="submit">Buy</button>&nbsp; &nbsp;<button
							(click)="addToCart(product.pId)" type="submit" class="btn btn-success "><span
								class=""></span> Add to cart</button>

				</form>
			</div>
		</div>


		<hr class="softn clr" />